.modal.fade.category-modal{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title
          =t('which_category?')
      .modal-body{dir: "#{text_direction}"}
        .row
          .col-xs-12
            = button_tag(t('all'), type: 'button', class: 'category-button btn btn-default', id: 'all')
            %br
          - @categories.each do |category|
            .col-xs-12
              = button_tag(category.name, type: 'button', class: 'category-button btn btn-default', id: category.id)
