.overlay.show-sidebar-container
  .glyphicon.glyphicon-chevron-right.open-sidebar

.overlay.control-container.zoom-container
  .glyphicon.glyphicon-plus.zoom-in
  %br
  .glyphicon.glyphicon-minus.zoom-out

.overlay.control-container.place-control-container
  .glyphicon.add-place-button.slidepanel-button{slidepanel: 'add-place-slidepanel', title: t('.new_place')}
    = image_tag('marker_button.png')

.overlay.control-container.category-container
  .show-categories.slidepanel-button{slidepanel: 'category-slidepanel'}
    .glyphicon.glyphicon-triangle-top
    .show-categories-text.text-center

.overlay.loading
  .loading-text
    = t('.overlay_loading')
