.modal.fade.place-modal{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss': 'modal', type: 'button'} &times;
        %h4.modal-title
      .modal-body{dir: text_direction}
        .row
          .col-xs-12.place-description.margin-below
          .col-xs-12.place-address
      .modal-footer
        - if is_admin?
          %button.edit-place.btn.btn-default.glyphicon.glyphicon-pencil{type: 'button'}
        %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'}
          = t('close')
