.places-slidepanel.slidepanel
  %h4.slidepanel-title= t('places')
  .content
    #accordion.panel-group.col-xs-12.places-list
  .col-xs-12.hide-slidepanel
    .glyphicon.glyphicon-triangle-bottom

.panel.panel-default.accordion-panel-template
  .panel-heading
    %h4.panel-title
      %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseId"}
        .triangle.glyphicon.glyphicon-triangle-bottom
        %span.name
      .place-list-header-buttons
        - if signed_in?
          .glyphicon.glyphicon-pencil.edit-place
        .glyphicon.glyphicon-search.zoom-to-place
  #collapseOne.panel-collapse.collapse.in
    .panel-body{dir: "#{text_direction}"}
      .col-xs-12.margin-below.description
      %i.col-xs-12.address
