.place-slidepanel.slidepanel
  .hide-slidepanel.glyphicon.glyphicon-remove.pull-right
  .col-xs-12
    .col-xs-12.place-slidepanel-header
      .title
        .name
        .glyphicon.glyphicon-pencil.edit-place
  .col-xs-12
    .col-xs-12.content.place-slidepanel-body{dir: text_direction}
      .place-description.margin-below
      .place-address.margin-below
      .place-contact
        .col-xs-4.glyphicon.glyphicon-earphone.place-phone
        .col-xs-4.glyphicon.glyphicon-envelope.place-email
        .col-xs-4.glyphicon.glyphicon-home.place-homepage
