.overlay.places-list-panel
  .row.category-button-container
    .col-xs-6.category-button-col
      = button_tag(t('categories.all_categories'), type: 'button', class: 'btn btn-dark category-button', id: 'all')
      %br
    - @categories.each do |category|
      .col-xs-6.category-button-col
        = button_tag(category.name, type: 'button', class: 'btn btn-dark category-button', id: category.id)
  .row
    .col-xs-12.search-field
      %input.form-control#search-input{placeholder: t('.search_placeholder')}
  .row
    .col-xs-12.places-list-accordion-container
      #accordion.places-list-accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}

.panel.panel-default.places-list-item.template
  .panel-heading{:role => "tab"}
    %h4.panel-title
      %a.collapsed{"aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :role => "button"}
        .name
  .panel-collapse.collapse{:role => "tabpanel"}
    .panel-body
      .description
      .contact-container
      .category-names
      .bottom-icons
        .glyphicon.glyphicon-pencil.edit-place.pull-right
        .glyphicon.glyphicon-search.show-map.pull-right
