.container
  .row
    .col-xs-12.text-center
      %h2 News
    .announcements-panel
      - @announcements.each do |announcement|
        .col-xs-12
          .pull-right
            %i= announcements_chronicle_header(announcement)
          %h4
            %b= announcement.header
          = announcement.content.html_safe
          %hr
