- content_for :header do
  = t('news')

.container
  .row
    .announcements-panel
      - @announcements.each do |announcement|
        .col-xs-12
          .pull-right
            %i= announcements_chronicle_header(announcement)
          %h4
            %b= announcement.header
          = announcement.content.html_safe
          %hr
