.container
  .row
    .col-sm-6.col-sm-offset-3.col-md-8.col-md-offset-2.text-center
      = image_tag 'ratmap_logo', width: '100%', class: 'ratmap-logo'
  .row
    .col-md-4.col-md-offset-4.text-center.margin-below
      .lilac.margin-above
        = t('.app_info', app_title: Admin::Setting.app_title)
    .col-md-4.col-md-offset-4.text-center.margin-below
      = link_to t('.create_guest_map'), new_map_url, class: 'btn btn-danger btn-lg full-width'
      .explanation.lilac{'data-explanation' => t('explanations.create_guest_map')}
