#map
.geocode-button
  Point to a new place

= render 'modal'

:javascript
  window.places = #{@places.map { |p| [p.latitude, p.longitude, p.name] }}
  window.placesJson = #{raw(@placesJson.to_json)};
