.announcements-slidepanel
  .announcements-slidepanel-header
    Announcements
  .announcements-slidepanel-body
  - @announcements.each do |announcement|
    .announcement
      .announcement-header
        = announcement.header
      .announcement-timestamp
        = announcement.created_at.strftime("%d-%m-%Y")
      .announcement-body
        = truncate(announcement.content)
