@import 'colors';

.extra-marker i {
  &.fa-calendar {
    margin-top: 11px;
    margin-left: 1px;
    font-size: 14px;
  }

  &.fa-home {
    margin-top: 9px;
    font-size: 17px;
    margin-left: 1px;
  }
}

.map-container {
  width: 100%;
  position: relative;
  overflow: hidden;
};

#map {
  height:100%;
}

.tooltip-inner {
  max-width: none;
  white-space: nowrap;
}

.map-password-dialog {
  .modal-content {
    height: auto;
    top: calc(50% - 100px);
  }

  .unlock {
    margin-top: 15px;
  }
}

.overlay {
  position: absolute !important;
  z-index: 10;
  .filter-button {
    width: 130px !important;
    &.active {
      font-weight: bold;
    }
  }
}

.map-flash.alert {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
  left: calc(50% - 100px);
  top: 70px;
}

.loading {
  bottom: calc(50% - 50px); // spinner height 50px
  left: calc(50% - 50px); // spinner width 50px
  z-index: 11;
}

.address-search-bar-container {
  top: 60px;
  margin-left: 20px;
}

.confirmation-button-container {
  display: none;
  top: 60px;
  text-align: center;
  button {
    font-size: 35px;
    opacity: 0.8;
  }
}

.add-place-button {
  cursor: pointer;
}

.show-places {
  color: #333333;
  &:hover {
    color: #333333;
    text-decoration: none;
  };
}

.leaflet-control-attribution {
  display: none;
}

.place-list-header-buttons {
  float: right;
  cursor: pointer;
}

#accordion {
  padding: none;
  margin-bottom: 0;
}

.map-description-modal {
  .modal-content {
    height: auto;
  }
}
