@import 'colors';

.map-public-settings {
  display: none;
}

.checkbox input{
  width: auto;
}

#map_password {
  width: 44% !important;
}

#map_password_confirmation {
  // margin-left: 5px;
  border-left: 0px;
  width: 56%;
}

.password-checkbox {
  width: 30px !important;
  padding: 0px !important;
}

