@import 'colors';

// PANELS
.spacer-row {
	padding-top: 20px;
}

.panel-group .map-panel {
	margin-bottom: 15px;
	border-radius: 4px;
	padding-left: 0px;

	.panel-heading {
		padding-left: 0px;
		font: bold;
		font-size: 16px;
		margin: 0;
		height: 40px;
		background: $grey;
		color: white;
    .glyphicon {
      cursor: pointer;
    }

		.map_buttons_container {
			padding-right: 0;
			li {
				padding-left: 5px;
			}
		}

		.map_buttons {
			float: right;
		}

		.map_description_button {
			color: white;
		}

		.map_settings_button{
			padding: 0px;
			color: white;
			&:hover {
				background-color: transparent;
			}
			&:focus {
				background-color: transparent;
			}
		}
	}

  .panel-body {
    .map-access-level-container {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 3px;
      border-radius: 4px;

      .private-map {
        padding-left: 3px;
        background-color: lighten($lilac, 30%);
        .glyphicon {
          padding-right: 5px;
          color: darken($lilac, 20%);
        }
      }

      .allow_guest_commits {
        padding-left: 3px;
        background-color: lighten($orange, 30%);
        .glyphicon {
          padding-right: 5px;
          color: darken($orange, 20%);
        }
      }

      .public-map {
        padding-left: 3px;
        background-color: lighten($green, 30%);
        .glyphicon {
          padding-right: 5px;
          color: darken($green, 20%);
        }
      }

      .password-protected {
        padding-left: 3px;
        background-color: lighten(red, 40%);
        .glyphicon {
          padding-right: 1px;
          color: darken(red, 20%);
        }
      }
    }

    .map-specs {
      padding-left: 5px;
    }

    // font-style: italic;
    font-size: 12px;
    height: 200px;
    background-color: #fff;
  }
}

.center {
  text-align: center;
}

// BUTTONS

.new-map-button {
  margin-left: 15px;
}
