@import 'colors';

.template {
	display: none;
}

.toggle-panel {
	top: 50%;
	background: rgba(white, 0.9);
	padding: 10px 5px;
	color: $grey;
	font-size: 22px;
	display: none;
	cursor: pointer;
}

.places-list-panel {
  overflow-y: auto;
  background-color: rgba(white, 0.9);
  height: calc(100% - 120px);
  width: 25%;
  min-width: 400px;
  padding: 15px;

  .glyphicon {
    cursor: pointer;
  }

  .panel-heading {
    padding: 7px 14px;
    border: none !important;
    cursor: pointer;

    .panel-title {
      font-size: 15px !important;
    }

    &.event-panel {
      background-color: $green !important;
      &:hover {
        background-color: lighten($green, 5) !important;
      }
    }

    &.place-panel {
      background-color: $lilac !important;
      &:hover {
        background-color: lighten($lilac, 5) !important;
      }
    }

    .name {
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      text-decoration: none;
    }
  }

  .place_type {
    padding-right: 10px;
  }

  .panel-body {
    padding: 7px 14px;
    font-size: 12px;

    .item-panel {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 8px;
      margin-top: 2px;
      border-radius: 4px;
    }

    .event-panel {
      background-color: lighten($green, 20%);
      .glyphicon {
        padding-right: 5px;
        color: darken($green, 30%);
      }
    }

    .place-panel {
      background-color: lighten($lilac, 20%);
      .glyphicon {
        padding-right: 5px;
        color: darken($lilac, 30%);
      }
    }

    .event {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 3px 8px;
      margin-top: 2px;
      background-color: lighten($grey, 40%);
      border-radius: 4px;
      .glyphicon {
        padding-right: 5px;
        color: darken($grey, 20%);
      }
    }

    .description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 15px;
      margin-top: 2px;
      margin-bottom: 5px;
      background-color: lighten($grey, 50%);
      border: 1px solid lighten($grey, 30%);
      border-radius: 4px;
    }
  }

  @media (max-width: 600px) {
    width: calc(100% - 30px);
    min-width: 0;
  }

  .bottom-icons {
    float: right;
    margin-top: 10px;
    .edit-place {
      padding-left: 10px;
    }
  }
  .category-names {
    margin-top: 10px;
    float: left;
    color: $grey;
    font-style: italic;
    width: 70%;
  }

  .places-list-accordion-container {
    background: rgba(white, 0.5);
  }

  .button-container {
    .sidepanel-add-place-container {
      display: none;
    }
    button {
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px !important;
    }
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
  }
}
