@import 'colors';

// right control container
.right-sidebar-tray {
  display: block;

  &.closed {
    display: none !important;
  }

  .tray-element { 
    line-height: 25px;

    .icon {
      width: 15%;
      float: left;
    }

    .text {
      width: 80%;
      margin-left: 20%;
    }
  }
}

$top-dist: 160px;

// control container
.control-container {
  z-index: 9999;
  right: -7px;
  width: 50px;
  height: auto;
  background: rgba(darken($lilac, 50%),0.8);
  border-radius: 4px;

  .control-button {
    & :hover {
      cursor: pointer;
      color: $lilac;
    }

    &.choose-background-layer {
      height: 45px;
    }
  }

  .glyphicon {
    top: 0px;
    padding: 10px;
    text-align: center;
    color: $green;
    font-size: 20px;
    width: 45px;
    height: 40px;

    &.inactive {
      color: rgba(121, 198, 130, 0.5);
    }
  }

  &.zoom-container {
    top: $top-dist;
  }

  &.map-info-container {
    top: $top-dist + 180px;
  }

  // SELECT TILE LAYERS
  &.tile-layers-tray {
    right: 50px;
    width: 240px;
    padding: 10px;
    padding-bottom: 0px;
    overflow: hidden;


    .select-tile-layer {
      height: 100px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 10px;

      img {
        position: relative;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }

  // CREATE PLACE BUTTONS
  &.place-control-container {
    .glyphicon {
      font-size: 24px;
    }

    top: $top-dist + 325px;
    height: auto;
  }

  &.create-place-methods-tray {
    right: 50px;
    width: 220px;
    line-height: 20px;
    padding: 10px;
    overflow: hidden;
    font-size: larger;

    * {
      color: $green;
      cursor: pointer;
    }

    button {
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px !important;
    }
  }

  &.display-options-tray {
    right: 50px;
    width: 220px;
    line-height: 20px;
    padding: 10px;
    overflow: hidden;
    font-size: larger;

    * {
      color: $green;
      cursor: pointer;
    }

    button {
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      margin-bottom: 10px !important;
    }

  }

  .switch {
    position: relative;
    display: inline-block;
    float: left;
    width: 27px;
    height: 14px;
    margin-right: 5px;
    top: 5px;

    /* Hide default HTML checkbox */
    input {
      display:none;
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $grey;
      -webkit-transition: .4s;
      transition: .4s;
    }

    // Round dot
    .slider:before {
      position: absolute;
      content: "";
      height: 8px;
      width: 8px;
      left: 4px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: .2s;
      transition: .2s;
    }

    input:checked + .slider {
      background: $green;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 10px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
}
