@import 'colors';

.share-admin-link-form {
  #map_admins {
    display: none;
    background-color: #ffcccc;
  }
}

.share-admin-link {
	border-color: #ebccd1;
	color: #a94442;
}

// Map embedding modal
#iframe_src {
  cursor: default;
}

.embed-form-element {
  &.text-field {
    cursor: default;
  }
}
