- flash.each do |type, msg|
  - if on_map?
    .alert{class: "alert-#{type} overlay map-flash", role: 'alert', id: 'flash-messages'}
      =msg
  - else
    .container.alert-container
      .row
        .col-xs-12
          .alert{class: "alert-#{type}", role: 'alert', id: 'flash-messages'}
            = msg
