.alert.alert-warning.overlay.map-flash.flash-message{role: 'alert', style: 'display: none;'}

- flash.each do |type, msg|
  .container.alert-container
    .row
      .col-xs-12
        .alert.flash-message{class: "alert-#{type}", role: 'alert'}
          = msg
