- content_for :header do
  = t('.admin_area')

.container
  -# TODO Translation!
  = link_to 'Application settings', admin_settings_url
  -# TODO Translation!
  = link_to 'User management', admin_users_url
