.overlay.toggle-panel
  .glyphicon.glyphicon-chevron-left.open-sidebar

.overlay.control-container.zoom-container
  .glyphicon.glyphicon-plus.zoom-in
  %br
  .glyphicon.glyphicon-minus.zoom-out

- if can_contribute?
  .overlay.control-container.place-control-container
    .glyphicon.add-place-button{title: t('.new_place')}
      = image_tag('marker_button.png')

.overlay.loading
  .loading-text
    = t('.overlay_loading')
