- content_for :header do
  = t('.index')

.container
  .row
    .panel-group{ id: 'expense-lists' }
      - if @maps.any?
        = render @maps
      - else
        %p= t('.no_map_yet')
  .row
    = link_to t('buttons.create_new_map'), new_map_url, class: 'btn btn-default btn-primary btn-danger new-map-button'

