-# DESCRIPTION MODAL
.modal.fade.map-description-modal{role: 'dialog', id: "map_description_#{map.id}"}
  .modal-dialog
    .modal-content
      .modal-header
        %span.glyphicon.glyphicon-remove-circle.close{"data-dismiss" => "modal", :type => "button"}
        %h4.modal-title= t('.map_description', title: map.title)
      .modal-body
        %p= map.description.present? ? map.description.html_safe : t('.this_map_has_no_description')
