-# DESCRIPTION MODAL
.modal.fade.map-password-dialog{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title.text-center= t('.map_password')
      .modal-body
        .error-message
        .row
          .col-xs-12
            %input.password-input.pull-left.form-control{ type: 'password' }
        .row
          .col-xs-12.text-center
            %button.unlock.btn.btn-primary.btn-danger= t('buttons.confirm')

