.row.margin-below
= form_for(:password_reset, url: { action: :create_password_reset } ) do |f|
  .hidden-xs.col-sm-3
  .col-sm-6
    .row
      .col-xs-12
        -# TODO translate
        = f.email_field :email, placeholder: 'Email-Adresse deines accounts', class: 'form-control'
      .col-sm-4.col-sm-offset-4
        -# TODO translate
        = f.submit "Passwort zurücksetzen", class: "btn btn-primary"
