- content_for :header do
  = t('.reset_password')

.row.margin-below
= form_for(:password_reset, url: { action: :create_password_reset } ) do |f|
  .hidden-xs.col-sm-3
  .col-sm-6
    .row
      .col-xs-12.col-md-8
        = f.email_field :email, placeholder: t('.email_address'), class: 'form-control'
      .col-xs.12.col-md-4
        = f.submit t('.reset_password'), class: "btn btn-primary"
