.overlay.toggle-panel
  .glyphicon.glyphicon-chevron-left.open-sidebar

.overlay.loading
  = image_tag('spinners/three-dots.svg')

.overlay.fade-background

.overlay.map-flash
  // here comes the ajax success message from page_spcific/maps/show.js
