.place-slidepanel.slidepanel
  .hide-slidepanel.glyphicon.glyphicon-remove.pull-right
  .col-xs-12
    .col-xs-12.place-slidepanel-header
      .title
        .name
        .glyphicon.glyphicon-pencil.edit-place
  .col-xs-12
    .content.place-slidepanel-body{dir: text_direction}
      .row
        .col-md-4.place-slidepanel-contact
          .glyphicon.glyphicon-home.place-address
          %br
          .glyphicon.glyphicon-earphone.place-phone
          %br
          .glyphicon.glyphicon-envelope.place-email
          %br
          .glyphicon.glyphicon-globe.place-homepage
        .col-md-8
          .place-description.margin-below
