.place-slidepanel.slidepanel
  .hide-slidepanel.glyphicon.glyphicon-remove.pull-right
  .col-xs-12
    .col-xs-12.place-slidepanel-header
      .title
        .name
        .glyphicon.glyphicon-pencil.edit-place
  .col-xs-12
    .content.place-slidepanel-body{dir: text_direction}
      .row
        .col-md-4.place-slidepanel-contact
          %table
            %tr
              %th
                .glyphicon.glyphicon-home
              %th
                .place-address
            %tr
              %th
                .glyphicon.glyphicon-earphone
              %th
                .place-phone
            %tr
              %th
                .glyphicon.glyphicon-envelope
              %th
                .place-email
            %tr
              %th
                .glyphicon.glyphicon-globe
              %th
                .place-homepage
        .col-md-8
          .place-description.margin-below
