@import 'colors';

.unreviewed-container {
  height: 100%;
  border: 3px solid $lilac;
  padding-bottom: 15px;
  border-radius: 4px;
  h3 {
    color: $lilac;
  }
}

.reviewed-container {
  height: 100%;
  border: 3px solid $green;
  padding-bottom: 15px;
  border-radius: 4px;
  h3 {
    color: $green;
  }
}

.switch-description-view {
  border: 2px solid $lilac;
  cursor: pointer;
}

.review-form-button {
  width: 100%;
}
