//= require map_overlays

jQuery(function() {
  jQuery('#map').each(function() {
    map = L.map('map', {
      zoomControl: false,
      minZoom: 5,
    });
    jQuery('.zoom-in').click(function() {map.zoomIn()});
    jQuery('.zoom-out').click(function() {map.zoomOut()});

    var addMap = function(url) {
      baselayer = L.tileLayer(url, {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});
      map.addLayer(baselayer);
      map.setView([52.513, 13.474], 12);
    };

    $.ajax({
      url: 'http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/1/1/1.jpg',
      success: function(result) {
        addMap('http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}.jpg');
      },
      error: function(result) {
        addMap('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png');
      }
    });

    var placeSlidePanel = jQuery('.place-slidepanel')
    var onEachFeature = function(feature, layer) {
      var prop = feature.properties;
      if (prop.reviewed == false) { layer.setIcon(session_icon); };
      layer.on('click', function(e) {
        placeSlidePanel.find('.edit-place').attr('place_id', prop.id);
        placeSlidePanel.find('.name').html(prop.name);
        if (feature.properties.reviewed == false) {
          placeSlidePanel.find('.name').html(prop.name + "<span style='color: #ff6666;'> | waiting for review </span>");
        } else {
          placeSlidePanel.find('.name').html(prop.name);
        };
        placeSlidePanel.find('.place-description').html(feature.properties.description);
        placeSlidePanel.find('.place-address').html('<i>' + feature.properties.address + '</i>');
        placeSlidePanel.find('.place-email').html(feature.properties.name);
        placeSlidePanel.find('.place-homepage').html(feature.properties.name);
        placeSlidePanel.find('.place-phone').html(feature.properties.name);
        placeSlidePanel.trigger('open');
      });
    };

    var icon =  L.icon({
      iconUrl: '<%= image_path 'marker.png' %>',
      iconSize: [40, 40],
    });

    var session_icon =  L.icon({
      iconUrl: '<%= image_path 'marker_session.png' %>',
      iconSize: [40, 40],
    });

    var updatePlaces = function(json) {
      if (typeof cluster !== 'undefined') {
        map.removeLayer(cluster);
      };
      cluster = L.markerClusterGroup({
        polygonOptions: {
          fillColor: 'rgb(109, 73, 129)',
          weight: 0,
          fillOpacity: 0.3
        }
      });
      var marker = L.geoJson(json, {
        pointToLayer: function (feature, latlng) {
          return L.marker(latlng, {icon: icon});
        },
        onEachFeature: onEachFeature
      });
      cluster.addLayer(marker);
      map.addLayer(cluster);
    };

    var updatePlacesList = function(json) {
      jQuery('.places-list').html('');
      var $template = jQuery('.accordion-panel-template');
      var accordion_id = 0;
      jQuery.each(json, function(id, place) {
        var prop = place.properties;
        var $newPanel = $template.clone();
        $newPanel.find(".collapse").removeClass("in");
        $newPanel.find(".accordion-toggle").attr("href",  "#accordion_" + (++accordion_id))
        $newPanel.find(".name").html(prop.name);
        if (prop.reviewed == false) {
          $newPanel.find('.name').html(prop.name + "<span style='color: #ff6666;'> | waiting for review </span>");
        } else {
          $newPanel.find('.name').html(prop.name);
        };
        $newPanel.find(".panel-collapse").attr("id", "accordion_" + accordion_id).addClass("collapse").removeClass("in");
        $newPanel.find('.description').html(prop.description);
        $newPanel.find('.address').html(prop.address);
        $newPanel.find('.zoom-to-place').attr('longitude', prop.longitude);
        $newPanel.find('.zoom-to-place').attr('latitude', prop.latitude);
        $newPanel.find('.edit-place').attr('place_id', place.id);
        jQuery('.places-list').append($newPanel.show());
      });

      jQuery('.zoom-to-place').click(function() {
        closeAllPanels();
        coordinates = [jQuery(this).attr('latitude'), jQuery(this).attr('longitude')];
        map.setView(coordinates, 16, {animate: true});
      });

      jQuery('.edit-place').click(function() {
        var placeId = jQuery(this).attr('place_id');
        window.location.href = 'places/' + placeId + '/edit';
      });
    };

    // CATEGORY AND PLACE BUTTONS
    jQuery('.category-button').click(function() {
      closeAllPanels();
      jQuery('.category-panel').trigger('close');
      jQuery('.loading').show();
      jQuery('.category-button').removeClass('active');
      jQuery(this).addClass('active');
      var categoryId = jQuery(this).attr('id');
      var category = jQuery(this).text();
      jQuery('.show-categories-text').html(category);
      $.ajax({
        url: "/",
        data: {
          category: categoryId,
          locale: window.locale,
        },
        success: function(result) {
          updatePlaces(result);
          updatePlacesList(result);
          resizePanels();
          jQuery('.loading').hide();
        }
      });
    });
    jQuery('.category-button#all').click();

    // ADD PLACE
    jQuery('.add-place-buttons').click(function(){
      jQuery('.add-place-slidepanel').trigger('close');
    });

    jQuery('.type-in-address').click(function(){
      window.location.href = 'places/new';
    });

    var locationMarker;

    function confirmPlaceInsert(lat, lon) {
      map.setView([lat, lon], 18);
      if (locationMarker) {
        map.removeLayer(locationMarker);
      }
      locationMarker = L.circleMarker([lat, lon]).addTo(map);
      jQuery('.confirmation-button-container').fadeIn();
      jQuery('#confirmation-button-yes').click(function() {
        jQuery('.confirmation-button-container').fadeOut();
        var params = 'longitude=' + lon + '&' + 'latitude=' +  lat;
        window.location.href = 'places/new?' + params;
      });
      jQuery('#confirmation-button-no').click(function() {
        jQuery('.confirmation-button-container').fadeOut();
        window.location.href = 'places/new';
      });
    };

    // Google geolocation API not working properly, so freeze this feature

    // jQuery('.add-place-via-location').click(function(){
    //   function confirmation(position) {
    //     confirmPlaceInsert(position.coords.latitude, position.coords.longitude);
    //   };
    //
    //   if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(confirmation);
    //   } else {
    //     console.log('Geolocation is not supported by this browser.');
    //   };
    // });

    jQuery('.add_place_via_click').click(function(){
      jQuery('.leaflet-overlay-pane').css('cursor','crosshair');
      map.on('click', function(point) {
        confirmPlaceInsert(point.latlng.lat, point.latlng.lng);
      });
    });


    // FRONTEND STUFF
    var toggleTriangle = function(e) {
      jQuery(e.target)
      .prev('.panel-heading')
      .find('.triangle')
      .toggleClass('glyphicon-triangle-bottom glyphicon-triangle-top');
    }
    jQuery('#accordion')
    .on('hidden.bs.collapse', toggleTriangle)
    .on('shown.bs.collapse', toggleTriangle);

    // ZOOM TO CREATED PLACE
    setTimeout(function() {
      if (window.latitude > 0 && window.longitude > 0) {
        coordinates = [window.latitude, window.longitude];
        map.setView(coordinates, 16);
      };
    }, 1);
  });

  jQuery('.locale-slidepanel').trigger('open');
});
