jQuery(function() {
  jQuery('#map').each(function() {
    jQuery(window).resize(function(){
      jQuery('#map').height(jQuery(window).height());
    }); // initial size is set in CSS, because curiously did not work properly here

    map = L.map('map', {
      zoomControl: false,
      minZoom: 5,
    });
    jQuery('.zoom-in').click(function() {map.zoomIn()});
    jQuery('.zoom-out').click(function() {map.zoomOut()});

    var addMap = function(url) {
      baselayer = L.tileLayer(url, {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'});
      map.addLayer(baselayer);
      map.setView([52.513, 13.474], 12);
    };

     $.ajax({
        url: 'http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/1/1/1.jpg',
        success: function(result) {
          addMap('http://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}.jpg');
        },     
        error: function(result) {
          addMap('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png');
        }
     });

    var placeModal = jQuery('.place-modal');
    var onEachFeature = function(feature, layer) {
      layer.on('click', function(e) {
        placeModal.find('.edit-place').attr('place_id', feature.properties.id);
        placeModal.find('.modal-title').html(feature.properties.name);
        placeModal.find('.place-description').html(feature.properties.description);
        placeModal.find('.place-address').html('<i>' + feature.properties.address + '</i>');
        placeModal.modal('show');
      });
    };

    var icon =  L.icon({
      iconUrl: '<%= image_path 'marker.png' %>',
      iconSize: [40, 40],
    });

    var updatePlaces = function(json) {
      if (typeof cluster !== 'undefined') {
        map.removeLayer(cluster);
      };
      cluster = L.markerClusterGroup({});
      var marker = L.geoJson(json, {
        pointToLayer: function (feature, latlng) {
          return L.marker(latlng, {icon: icon});
        },
        onEachFeature: onEachFeature
      });
      cluster.addLayer(marker);
      map.addLayer(cluster);
    };

    var updatePlacesList = function(json) {
      jQuery('.places-list').html('');
      var $template = jQuery('.accordion-panel-template');
      var accordion_id = 0;
      jQuery.each(json, function(id, place) {
        var prop = place.properties;
        var $newPanel = $template.clone();
        $newPanel.find(".collapse").removeClass("in");
        $newPanel.find(".accordion-toggle").attr("href",  "#" + (++accordion_id))
        $newPanel.find(".name").html(place.properties.name);
        $newPanel.find(".panel-collapse").attr("id", accordion_id).addClass("collapse").removeClass("in");
        $newPanel.find('.description').html(place.properties.description);
        $newPanel.find('.address').html(place.properties.address);
        $newPanel.find('.zoom-to-place').attr('longitude', place.properties.longitude);
        $newPanel.find('.zoom-to-place').attr('latitude', place.properties.latitude);
        $newPanel.find('.edit-place').attr('place_id', place.id);
        jQuery('.places-list').append($newPanel.show());
      });

      jQuery('.zoom-to-place').click(function() {
        jQuery('.places-modal').modal('hide');
        coordinates = [jQuery(this).attr('latitude'), jQuery(this).attr('longitude')];
        map.setView(coordinates, 16, {animate: true});
      });

      jQuery('.edit-place').click(function() {
        var placeId = jQuery(this).attr('place_id');
        window.location.href = 'places/' + placeId + '/edit';
      });
    };

    // CATEGORY AND PLACE BUTTONS
    jQuery('.show-places').click(function() {
      jQuery('.places-modal').modal('show');
    });

    jQuery('.show-categories').click(function() {
      jQuery('.category-modal').modal('show');
    });

    jQuery('.category-button').click( function() {
      jQuery('.loading').show();
      jQuery('.control-container').hide();
      jQuery('.category-modal').modal('hide');
      jQuery('.category-button').removeClass('active');
      jQuery('.category-button').removeClass('active');
      jQuery(this).addClass('active');
      var categoryId = jQuery(this).attr('id');
      var category = jQuery(this).text();
      jQuery('.places-modal').find('.category').html(category);
      jQuery('.show-categories-text').html(category);
      $.ajax({
        url: "/",
        data: {
          category: categoryId,
          locale: window.locale,
        },
        success: function(result) {
          updatePlaces(result);
          updatePlacesList(result);
          jQuery('.loading').hide();
          jQuery('.control-container').fadeIn();
        }
      });      
    });
    jQuery('.category-button#all').click();

    // ADD PLACE
    jQuery('.add-place-button').click(function(){
     jQuery('.add-place-modal').modal('show');
    });

    jQuery('.type-in-address').click(function(){
      window.location.href = 'places/new';
    });

    jQuery('.add-place-via-location').click(function(){
      function confirmation(position) {
        var longitude = position.coords.longitude;
        var latitude = position.coords.latitude;
        map.setView([latitude, longitude], 18);
        var myLocationMarker = L.circleMarker([latitude, longitude]).addTo(map);
        jQuery('.confirmation-button-container').show();
        jQuery('#confirmation-button-yes').click(function() {
          var params = 'longitude=' + longitude + '&' + 'latitude=' +  latitude;
          window.location.href = 'places/new?' + params;
        });
        jQuery('#confirmation-button-no').click(function() {
          window.location.href = 'places/new';
        });
      };

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(confirmation);
      } else {
        console.log('Geolocation is not supported by this browser.');
      };
    });

    // FRONTEND STUFF
    jQuery('.navbar-collapse')
      .on('show.bs.collapse', function() {
        jQuery('.zoom-container').animate({top:115}, 300);
      })
      .on('hide.bs.collapse', function() {
        jQuery('.zoom-container').animate({top:60}, 300);
      });

    var toggleTriangle = function(e) {
      jQuery(e.target)
        .prev('.panel-heading')
        .find('.triangle')
        .toggleClass('glyphicon-triangle-bottom glyphicon-triangle-top');
    }
    jQuery('#accordion')
      .on('hidden.bs.collapse', toggleTriangle)
      .on('shown.bs.collapse', toggleTriangle);
  });
});
