@import 'colors';

.announcements-slidepanel {
  background: rgba(darken($lilac, 15%),0.5);
  position: absolute;
  width: 20%;
  left: 0px;
  top: 58px;
  bottom: 29px;
  z-index: 9999;
  overflow: scroll;
  .announcements-slidepanel-header {
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    background: rgba(black, 0.7) !important;
    color: rgba(white, 0.75);
  }
  .announcement {
    padding: 10px 10px 10px 10px;
    .announcement-header {
      border-radius: 4px 4px 0 0;
      font-size: larger;
      padding: 8px 8px 8px 8px;
      background: rgba(black, 0.7) !important;
      color: $green;
    }
    .announcement-timestamp {
      padding: 8px 8px 8px 8px;
      font-size: smaller;
      background: rgba(white, 0.75);
      color: rgb(112, 111, 111);
      font-style: italic;
    }
    .announcement-body {
      border-radius: 0px 0px 4px 4px;
      padding: 0px 8px 8px 8px;
      font-size: small;
      background: rgba(white, 0.75);
    }
  }
}
