/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require MarkerCluster
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors'; 

.main-container {
  margin-top: 60px;
}

.container-full {
  width: 100%;
}

.margin-below {
  margin-bottom: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  &:hover {
    text-decoration: none;
  }
}

.logo-left {
  color: $lilac;
  float: left;
}

.logo-right {
  color: $green;
  float: left;
  padding-left: 3px;
  margin-right: 10px;
}

.navbar  {
  min-height: 40px;
  background: rgba(darken($lilac, 50%),0.8);
  border: none;
  .glyphicon {
    line-height: 40px;
    color: $green;
    font-size: 20px;
  }
}

.navbar-dropdown-container {
  float: right; 
}

.navbar-dropdown {
  line-height: 40px;
  margin-left: 15px;
  a {
    color: $green !important;
  }
  .dropdown-menu {
    top: 44px;
    background: rgba(darken($lilac, 50%),0.8);
    color: $green;
    .active > a {
      color: white !important;
      background: $green !important;      
    }
  }
}

.btn-success {
  background: $green !important;
}

.btn-danger {
  background: $lilac !important;
}

// Review table style

.edited-point {
  background-color: lighten(rgb(223, 155, 99), 25);
}

.new-point {
  background-color: lighten(rgb(124, 223, 99), 25);
}
