/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.main-container {
  margin-top: 60px;
}

.margin-below {
  margin-bottom: 20px;
}

.logo {
  font-size: 24px;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.logo-left {
  margin-left: 10px;
  float: left;
  font-size: 24px;
}

.logo-right {
  float: left;
  font-size: 25px;
  padding-left: 3px;
  margin-top: -1px;
  font-weight: bold;
}

.locale-switch {
  padding: 13px;
  a {
    color: white !important;
    font-size: 12px !important;
    padding: 5px;
    &:hover {
      text-decoration: none;
      color: lightgrey !important;
    };
  }
}
