/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require leaflet
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'colors'; 

.main-container {
  margin-top: 60px;
}

.container-full {
  width: 100%;
}

.margin-below {
  margin-bottom: 20px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  &:hover {
    text-decoration: none;
  }
}

.logo-left {
  color: $lilac;
  margin-left: 10px;
  float: left;
}

.logo-right {
  color: $green;
  float: left;
  padding-left: 3px;
  margin-right: 20px;
}

.navbar-inverse  {
  line-height: 70px;
  height: 70px;
  min-width: 350px;
  background: rgba(0,0,0,0.7);
  border: none;
  .glyphicon {
    margin-top: 22px;
    color: $green;
    font-size: 26px;
    top: -1px;
  }
}

.navbar-dropdown > a {
  color: $green;
  margin-left: 15px;
}

.modal-content {
  background-color: rgba(white,0.8);
}

.modal-header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
  background: rgba(darken($lilac, 20%),0.6);
  h4 {
    color: white;
  }
}

.btn-success {
  background: $green !important;
}

.btn-danger {
  background: $lilac !important;
}

// Review table style

.edited-point {
  background-color: lighten(rgb(223, 155, 99), 25);
}

.new-point {
  background-color: lighten(rgb(124, 223, 99), 25);
}
