$lilac: #956BAB;
$brown: #AB756B;
$green: #79C682;
$orange: #ff9933;
$grey: #9d9d9d;
$verylightgrey: rgb(241, 240, 240);

.lilac {
  color: $lilac;
}

.green {
  color: $green;
}

// classes analog to leaflet marker colors
.black { background-color: black; }
.white { background-color: white; }
.red { background-color: #971f21; }
.orange-dark { background-color: #b2b2b2; }
.orange { background-color: #ed7f18; }
.yellow { background-color: #f4b123; }
.blue-dark { background-color: #185164; }
.cyan { background-color: #27a5db; }
.purple { background-color: #4b265e; }
.violet { background-color: #b2b2b2; }
.pink { background-color: #ba4797; }
.green-dark { background-color: #005a25; }
.green { background-color: #999999; }
.green-light { background-color: #5ea72d; }
