.place_date_form {
  display: none;
}

#end_date_descr {
  padding-right: 12px;
  padding-left: 0px;
  border-right: 0px;
}

#end_date_toggle {
  padding-left: 0px;
  padding-right: 2px;
  padding-top: 2px
}
