input {
  width: 100%;
}

.popup {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 50px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
}

textarea {
  width: 100%;
}

.place-form-button {
  width: 100%;
}

.nicEdit-main {
 height: 300px;
 resize: all;
 overflow-y: auto !important;
}

.locked-description {
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  margin-top: 8px;
  height: 307px;
  overflow-y: auto;
  color: grey;
}

.grey {
  color: grey;
}

.red {
  color: red;
}
