@import 'colors';

input {
  width: 100%;
}

.popup {
  position: absolute;
  z-index: 9999;
  top: 10px;
  left: 50px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
}

textarea {
  width: 100%;
}

.place-form-button {
  width: 100%;
}

.description-header {
  cursor: pointer;
  h4 { display: inline-block; }
}

.description-editor {
  &.hidden-description {
    display: none;
  }
}

.description-area {
  height: 200px;
}

.wysihtml5-sandbox {
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}

.locked-description {
  opacity: 0.5;
  resize: none;
}

.auto-translated-true {
  color: $lilac;
  font-style: italic;
}

.submit-process-bar {
  display: none;
}

.auto-translated-false {
  color: grey;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

.green {
  color: rgb(53, 129, 33);
}
.dark_yellow {

  color: rgb(172, 160, 0);
}

#place_date_form {
  display: none;
}

#end_date_toggle {
  width: 40px;
  border-right: 0px;
}

#end_date_descr {
  width: 60px;
  border-left: 0px;
}
