// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.map-container {
  width: 100%;
  position: relative;
  overflow: hidden;
};
#map {
  height:100%;
}

.overlay {
  position: absolute !important;
  z-index: 999;
  .filter-button {
    width: 130px !important;
    &.active {
      font-weight: bold;
    }
  }
}

.loading {
  bottom: 50%;
  left: 50%;
  .loading-text {
    font-weight: bold;
    background: rgba(255,255,255,0.7);
    border-radius: 7px;
    padding: 10px;
    position: relative;
    left: -50%;
    bottom: -30px;
    border: none;
    font-size: 15px;
  }
}

.control-container {
  cursor: pointer;
}

.zoom-container {
  right: -7px;
  top: 48px;
  .glyphicon {
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 7px;
    margin-top: 5px;
    background: rgba(darken($lilac, 50%),0.8);
    color: $green;
    font-size: 20px;
    width: 45px;
    height: 40px;
  }
}

.place-control-container {
  right: -10px;
  bottom: 25px;
  .glyphicon {
    margin: 4px;
    padding: 15px;
    border-radius: 7px;
    background: rgba(darken($lilac, 15%),0.5);
    font-size: 35px;
  }
}

.category-container {
  left: 50%;
  bottom: 0px;
  .show-categories {
    cursor: pointer;
    position: relative;
    left: -50%;
    font-size: 26px;
    font-weight:  bold;
    .show-categories-text {
      float: left;
    }
    .glyphicon {
      float: left;
      top: 5px;
      left: 5px;
    }
  }
}

.confirmation-button-container {
  display: none;
  top: 60px;
  text-align: center;
  button {
    font-size: 35px;
    opacity: 0.8;
  }
}

.add-place-buttons {
  width: 100%;
  margin-bottom: 10px !important;
}

.category-button {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.locale-slidepanel {
  padding-top: 12px;
  padding-bottom: 12px;
}

.locale-button {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.btn-dark {
  font-size: 16px !important;
  color: $green;
  background: rgba(black, 0.7) !important;
  &:hover {
    color: $green !important;
    background: rgba(black, 0.6) !important;
  };
  &.active {
    background: rgba(black, 0.55) !important;
  }
  height: 37px;
}

.leaflet-control-attribution {
  display: none;
}

.place-list-header-buttons {
  float: right;
  cursor: pointer;
}

.slidepanel {
  background: rgba(darken($lilac, 15%),0.5);
  border-radius: 7px;
  position: absolute;
  right: 10px;
  z-index: 9999;
  .content {
    overflow-y: auto;
    margin-bottom: 15px;
  }
  .slidepanel-title {
    padding-left: 35px; /* due to close-button on same line */
    text-align: center;
    font-size: 20px;
    color: #333;
  }
  .hide-slidepanel {
    font-size: x-large;
    padding-right: 20px;
    padding-top: 9px;
    cursor: pointer;
  }
}

.announcements-slidepanel {
  background: rgba(darken($lilac, 15%),0.5);
  border-radius: 7px;
  position: absolute;
  // height: 90%;
  width: 20%;
  left: 0px;
  top: 58px;
  bottom: 29px;
  z-index: 9999;
  .hide-slidepanel {
    font-size: x-large;
    padding-right: 20px;
    padding-top: 9px;
    cursor: pointer;
  }
  .announcement {
    padding: 10px 10px 10px 10px;
    .announcement-header {
      border-radius: 4px 4px 0 0;
      font-size: larger;
      padding: 8px 8px 8px 8px;
      background: rgba(black, 0.7) !important;
      color: $green;
    }
    .announcement-timestamp {
      padding: 8px 8px 8px 8px;
      font-size: smaller;
      background: rgba(white, 0.75);
      color: rgb(112, 111, 111);
      font-style: italic;
    }
    .announcement-body {
      border-radius: 0px 0px 4px 4px;
      padding: 0px 8px 8px 8px;
      font-size: small;
      background: rgba(white, 0.75);
    }
  }
}

.place-slidepanel {
  .place-slidepanel-header {
    border-radius: 4px 4px 0 0;
    font-size: large;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(black, 0.7) !important;
    color: $green;
    .name {
      float: left;
    }
    .edit-place {
      float: right;
      cursor: pointer;
    }
  }
  .place-slidepanel-body {
    font-size: small;
    padding: 20px;
    background: rgba(white, 0.75);
  }
}



#accordion {
  padding: none;
  margin-bottom: 0;
}

.accordion-panel-template {
  border: none !important;
  background: none !important;
  display: none;
  .panel-group {
    margin-bottom: 0 !important;
  }
  .panel-title {
    color: $green !important;
  }
  .panel-heading {
    border: none !important;
    background: rgba(black, 0.7) !important;
  }
  .panel-body {
    font-size: small;
    background: rgba(white, 0.75);
    border: none !important;
  }
}

.place-slidepanel {
  .place-slidepanel-header {
    border-radius: 4px 4px 0 0;
    font-size: large;
    margin-top: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(black, 0.7) !important;
    color: $green;
    .name {
      float: left;
    }
    .edit-place {
      float: right;
      cursor: pointer;
    }
  }
  .place-slidepanel-body {
    font-size: small;
    padding: 20px;
    background: rgba(white, 0.75);
  }
}
