// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 500px;
  border: 2px solid white;
  &.active {
    border: 2px solid green;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
  }
  .overlay {
    position: absolute;
    z-index: 999;
    .filter-button {
      width: 130px !important;
      &.active {
        font-weight: bold;
      }
    }
  }

  .place-button-container {
    right: 8px;
    bottom: 8px;
  }

  .confirmation-button-container {
    top: 10px;
    display: none;
    text-align: center;
    button {
      font-size: 35px;
    }
  }

  .add-place-button-container {
    bottom: 95px;
    right: 10px;
    .add-place-button {
      padding: 5px 9px 5px 9px;
      font-size: 23px;
    }
  }

  .show-categories-container {
    bottom: 10px;
    left: 10px;
    button {
      font-size: 45px;
    }  
  }

  .show-places-container {
    bottom: 10px;
    right: 10px;
    button {
      font-size: 45px;
    }  
  }

  .category-indicator {
    bottom: 30px;
    left: 87px;
    font-size: 23px;
  }
}

.category-button {
  width: 100%;
  margin: 5px;
}

.places-modal {
  .modal-footer {
    padding-top: none;
    border-style: none;
  }
}

.leaflet-control-attribution {
  display: none;
}
