// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

#map {
  margin-top: -60px;
  height:100vh;
  .overlay {
    position: absolute;
    z-index: 999;
    .filter-button {
      width: 130px !important;
      &.active {
        font-weight: bold;
      }
    }
  }

 .loading {
    bottom: 50%;
    left: 50%;
    .loading-text {
      font-weight: bold;
      background: rgba(255,255,255,0.7);
      border-radius: 7px;
      padding: 10px;
      position: relative;
      left: -50%;
      bottom: -30px;
      border: none;
      font-size: 15px;
    }
  }

  .control-container {
    button {
      margin: 3px;
      border: none;
      border-radius: 7px;
      float: right;
      padding: 6px 9px 9px 9px;
    }
  }

  .zoom-container {
    right: -7px;
    top: 60px;
    button {
      background: rgba(black,0.6);
      color: $green;
      font-size: 25px;
      width: 50px;
      height: 45px;
    }
  }

  .place-control-container {
    right: -7px;
    bottom: 25px;
    button {
      background: rgba(darken($lilac, 15%),0.5);
      font-size: 35px;
      width: 70px;
      height: 60px;
    }
  }

  .category-container {
    left: 50%;
    bottom: 0px;
    .show-categories {
      cursor: pointer;
      position: relative;
      left: -50%;
      font-size: 30px;
      .show-categories-text {
        float: left;
      }
      .glyphicon {
        float: left;
        top: 5px;
        left: 5px;
      }
    }
  }

  .confirmation-button-container {
    top: 60px;
    display: none;
    text-align: center;
    button {
      font-size: 35px;
    }
  }

  .category-indicator {
    bottom: 42px;
    right: 75px;
    font-size: 20px;
  }
}

.accordion-panel-template {
  visibility: none;
}

.panel-group {
  margin-bottom: 0 !important;
}

.panel-title {
  color: $green !important;
}

.add-place-buttons {
  width: 100%;
  margin-bottom: 4px !important;
}

.category-button {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.places-modal {
  .modal-footer {
    padding-top: 3px !important;
  }
}

.place-modal {
  .modal-body {
    margin: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .modal-footer {
    padding-top: 3px !important;
  }
}

.leaflet-control-attribution {
  display: none;
}

.place-list-header-buttons {
  float: right;
  cursor: pointer;
}
