.last-points-panel.announcement
  %h4.text-center.header
    = t('.last_points_inserted')
  - @last_places_created.each do |place|
    .last-point
      .last-point-header
        .row
          .col-xs-10.name
            = place.name
          .col-xs-2.zoom
            .glyphicon.glyphicon-share-alt.zoom-to-place.pull-right{longitude: place.longitude, latitude: place.latitude}
