-# Map dropdown
%li.pull-right.dropdown.navbar-dropdown{'data-toggle' => 'tooltip', 'data-placement' => 'bottom', title: t('.map_features')}
  .pull-right.glyphicon.fa.fa-map-o.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
  %ul.dropdown-menu
    %li= link_to(t('.maps_index'), maps_path) if @current_user.registered? || session[:maps].any?
    - if current_map
      %li= link_to(t('.map_settings'), edit_map_path(map_token: request[:map_token])) if has_privileged_map_access?
      %li= link_to(t('.places_review_index'), places_review_index_path(map_token: map_token)) if has_privileged_map_access?
