%nav.navbar.navbar-fixed-top
  .container.navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a
      -# Map title
      - if current_map
        = link_to map_path(map_token: map_token) do
          .logo.logo-left.text-center= @map.title.present? ? @map.title : t('.no_title')
      - else
        = link_to landing_page_path do
          .logo.logo-left LBERG
          .logo.logo-right MAP

    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        = render 'layouts/navbar/buttons_right'
