PLACES:
<% @places.each do |p| %>
  <%= p.latitude %>
  <%= p.longitude %>
  <%= link_to 'show', p %>
  <br> 
<% end %>

<div style='height: 300px;' id='map'> map </div>

<script> window.places = <%= @places.map { |p| [p.latitude, p.longitude] } %> </script>
