-# Navigation bar partial
%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => 'false', 'data-target' => '#navbar', 'data-toggle' => 'collapse', :type => 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: root_path}
        .navbar-header.logo.logo-left
          LBERG
        .navbar-header.logo.logo-right
          MAP
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.pull-right
          = link_to 'Add new place', new_place_path
        %li.pull-right
          = link_to 'Index Places', places_path
        %li.pull-right
          = link_to 'Show map', root_path
        %li.pull-right
          = link_to 'About', about_path
